<div class="animate__animated animate__fadeIn">
  <h3>Por País</h3>
  <hr>

  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeHolder="Buscar País....">
      </app-pais-input>
    </div>
  </div>

  <!-- sugerencias para el imput -->
  <ul class="list-group">
    <li
    *ngFor="let pais of paisesSugeridos"
    class="list-group-item list-group-item-action">
    <a [routerLink]="['/pais', pais.cca2]" >{{pais.name.common}}</a>
    </li>
  </ul>

  <hr>
  <!-- ngIf si hay error en la petición se muestra el contenido caso contrario NO  -->
  <div *ngIf="hayError" class="alert alert-danger">No se encontró nada con el término {{termino}}.
  </div>

  <div class="row">
    <div class="col">
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
  </div>
</div>
